{% extends "bootstrap/base.html"%}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}

<title>Login</title>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Main Menu</h1> <br>
</div>
<div class="container">
    <h3>Welcome {{ current_user.username.title() }} !</h3>
    <h3>Today is {{ today.strftime("%A") }}, {{ today.strftime("%B") }} {{ today.strftime("%d") }}, {{ today.strftime("%Y") }}</h3>
</div>

<div class="container">
    <a href="{{ url_for('acctlist') }}" class="button"><h3>User List</h3></a>
    <a href="{{ url_for('logout') }}" class="button"><h3>Log Out</h3></a>
</div>
{% endblock %}